
<h1>Welcome to the Home Page</h1>
<p>This is the starting point of your application.</p>

<h1 class="text-9xl font-bold underline bg-red-500 w-3 h-5" >hey</h1>

<% [1,2,3].each do |number| %>
<h1><%= number %></h1>

<%end%>