
    
    
    
    
    
    
<h1>Welcome to the Home Page</h1>
<p>This is the starting point of your application.</p>

<h1>hey</h1>

<% [1,2,3].each do |number| %>
<h1><%= Foo number %></h1>

<%end%>